<div class="d-flex container">
  <div class="flex-column mb-3">
    <% @venues.each do |venue| %>
      <div class="card-product">
        <img style="width: 150px; height: 130px" src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <div class="card-product-infos">
          <h2><%=venue.name %></h2>
          <p><%= venue.location %></p>
          <%= link_to "Details", venue_path(venue), class:"text-decoration-none, btn btn-secondary " %>
          <%= link_to "Add venue", new_venue_path, class:"text-decoration-none, btn btn-secondary " %>
        </div>
      </div> <br>
    <% end %>
  </div>
</div>
