.index-container {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 100%;
  overflow: hidden;
  position: relative;
}

.index-title {
  font-family: 'Karla', sans-serif;
  margin-top: 0;
  word-wrap: break-word;
}

.index-content {
  margin-top: 30px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-left: -15px;
}

.index-card {
  width: calc(50% - 15px);
  height: 0;
  padding-top: 60%;
  position: relative;
  overflow: hidden;
}

.index-card-img-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.index-card-img-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.index-card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.index-card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  text-align: center;
  color: white;
  opacity: 1;
}

.index-card-title,
.index-card-text {
  margin-bottom: 10px;
  font-family: 'Spectral', serif;
}

.map-container {
  height: 500px;
  position: relative;
  overflow: hidden;
  margin-top: 30px;
}

#map {
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  .index-title {
    font-size: 24px;
  }

  .index-card {
    width: 100%;
    height: 0;
    padding-top: 56.25%;
    margin-bottom: 20px;
  }

  .index-card-img-container,
  .index-card-img-inner {
    height: 100%;
  }

  .map-container {
    height: 300px;
  }
}
