.index-container {
  position: relative;
}

.index-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

.index-card {
  width: 100%;
  height: 369px;
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
}

.index-card-img-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.index-card-img {
  width: auto;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.index-card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  text-align: center;
  color: white;
}

.index-card-title,
.index-card-text {
  margin-bottom: 10px;
}

.index-card-body {
  position: relative;
  z-index: 1;
}

@media (max-width: 768px) {
  .index-card {
    height: auto;
  }
}
