#pages-container {
  position: relative;
  min-height: 100vh;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #140057;
  opacity: 0.8;
  bottom: 0;
  height: 6em;
  left: 0;
  position: relative;
  width: 100%;
  color: white;
}
