.navbar-lewagon {
  justify-content: space-between;
  background: #140057;
  opacity: 0.8;
  position: relative;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  padding: 0;
}

.navbar-nav .nav-item .nav-link {
  font-family: "IBM Plex Mono";
  color: #9cd7f2;
  font-style: italic;
  font-size: large;
}

.profile {
  color: #9cd7f2;
  font-family: "IBM Plex Mono";
  font-style: italic;
  font-size: large;
}

.navbar-nav {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.dropdown-menu {
  background-color: #9cd7f2;
}

.search {
  // position: absolute;
  // top: 20px;
  // right: 100px;
  // width: 100px;
}
