.navbar-lewagon {
  justify-content: space-between;
  background: #140057;
  opacity: 0.8;
  position: relative;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-nav .nav-item .nav-link {
  font-family: "Inter";
  color: #9cd7f2;
  font-style: italic;
  font-size: large;
}

.profile {
  color: #9cd7f2;
  font-family: "Inter";
  font-style: italic;
  font-size: large;
}

.navbar-nav {
  flex-direction: column;
  align-items: center;
}

.dropdown-menu {
  background-color: #9cd7f2;
}

// .hidden {
//   display: none;
// }
